.stylo-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    margin: 10px;
    text-align: center;
}

.stylo-card img {
    width: 100%;
    border-radius: 6px;
}

.stylo-card h2{
    font-size: 1.2rem;
}