.header {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  padding: 16px;
  background-color: #555;
  color: white;
  text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-logo{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.header-store-name{
    background-color: white;
    padding: 12px 16px;
    border-radius: 10px;
}