.header {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 150px;
  padding: 16px;
  background-color: #b40052;
  color: white;
  text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-logo{
    background-color: #b40052;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.header-logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}